body {
    background-color: #000;
    color: #fff;
    font-family: 'Handjet';
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    background-image: url('https://raw.githubusercontent.com/saloesqui/LigaPotrerx/main/fondo.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

h1, h2 {
    font-family: 'Handjet', sans-serif;
    color: #8c52ff;
    text-shadow: 2px 0px 15px #ff66c4;
    font-size: 33px;
}

.subtitulo {
    font-family: 'Handjet', sans-serif;
    color: #8c52ff;
    text-shadow: 2px 0px 15px #ff66c4;
    font-size: 33px;
    margin-top: 10px; /* Ajuste el espacio debajo del título */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: #8c52ff;
    text-decoration: none;
    font-size: 1.2em;
}

button {
    background: #85f876;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    font-family: 'Pixellet TH', 'Handjet';
    text-transform: uppercase;
}

button:hover {
    background: #85f876;
    color: #000;
}


button:hover {
    background: #85f876;
    color: #000;
}
