/* Estilos generales */
body {
    background: #000 url('https://raw.githubusercontent.com/saloesqui/LigaPotrerx/main/fondo.png') center/cover repeat-y;
    color: #fff;
    font-family: 'Handjet', sans-serif;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Títulos y enlaces */
h1, h2, .subtitulo, .reglamento-enlace {
    font-family: 'Handjet', sans-serif;
    color: #8c52ff;
    text-shadow: 3px 0 15px #ff66c4;
}

h1, h2 {
    font-size: 36px;
}

.subtitulo {
    font-size: 29px;
    margin-top: 10px;
}

.reglamento-enlace {
    font-size: 34px;
    margin-top: 10px;
    text-decoration: none;
}

.reglamento-enlace:hover {
    color: #ff66c4;
    text-decoration: underline;
}

a {
    color: #ff66c4;
    text-decoration: none;
}

a:hover {
    color: #ff3385;
}

/* Botones */
button {
    background: #85f876;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    font-family: 'Pixellet TH', 'Handjet';
    text-transform: uppercase;
}

button:hover {
    background: #85f876;
}

/* Footer */
footer {
    margin-top: auto;
    padding: 20px 0;
}

footer a {
    color: #85f876;
    text-decoration: none;
    font-size: 1.2em;
}

/* Sección ekipxs */
.ekipxs-container {
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.campeonas {
    text-align: center;
    margin-top: 40px;
}

.titulo-campeonas {
    font-size: 35px;
    margin-bottom: 20px;
    white-space: nowrap;
}

/* Contenedor de imágenes de equipos */
.equipos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: nowrap;
    margin-bottom: 60px; /* Aumenta la separación hacia abajo */
    margin-top: 20px; /* Aumenta la separación desde el título */
    
}

/* Estilos de imágenes de equipos */
.imagen-equipo {
    height: 270px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; /* Agrega efecto de crecimiento */
}

.imagen-equipo:hover {
    transform: scale(1.1); /* Efecto hover */
}

/* Imágenes generales */
.imagen-ekipxs, .imagen-sobre {
    width: 100%;
    display: block;
    margin: 20px auto;
}

.imagen-ekipxs {
    max-width: 600px;
}

.imagen-sobre {
    max-width: 420px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen-sobre:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Ajuste de margen para el logo */
img[src="https://github.com/saloesqui/LigaPotrerx/raw/main/logo.png"] {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #8c52ff;
    text-decoration: none;
    font-size: 1.2em;
}

/* Contadores */
.contador {
    display: inline-block;
    margin-right: 20px;
    color: #ff66c4;
    font-size: 1.3em;
    text-shadow: 0px 0px 9px #ff66c4, 0px 0px 13px #ff66c4;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#visit-count, #time-spent {
    display: inline-block;
    margin-right: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .ekipxs-container {
        max-width: 90%;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    .imagen-sobre {
        width: 90%;
        max-width: 400px;
    }

    .contador {
        font-size: 1.2em;
        margin-right: 10px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .imagen-ekipxs {
        max-width: 90%;
    }

    .imagen-sobre {
        width: 95%;
        max-width: 350px;
    }
}



